<div class="page-bd-15">
    <div style="margin-top: 20px;">
        <div class="clearfix" style="border-bottom: 1px solid #ededed; padding: 10px 0">
            <div class="left font_color">还款日期</div>
            <div class="right" >2018/09/03</div>
        </div>
    </div>
    <div>
        <div class="clearfix" style="border-bottom: 1px solid #ededed; padding: 10px 0">
            <div class="left font_color">需还款金额</div>
            <div class="right" >11345.23元</div>
        </div>
    </div>
    <div>
        <div class="clearfix" style="border-bottom: 1px solid #ededed; padding: 10px 0">
            <div class="left font_color">订单号</div>
            <div class="right" >JLADKA1235151</div>
        </div>
    </div>
    <div>
        <div class="clearfix" style="border-bottom: 1px solid #ededed; padding: 10px 0">
            <div class="left font_color">期数</div>
            <div class="right" >2/6期</div>
        </div>
    </div>


    <div>
        <div class="clearfix" style="border-bottom: 1px solid #ededed; padding: 10px 0" ng-click="hideFn()">
            <div class="left font_color">明细</div>
            <div id="showDetailIcon" class="right icon icon-74"></div>
        </div>
        <div id="showDetail" style="padding: 10px 15px;">
            <div class="clearfix color_a1a1a1" style="margin-top: 10px;">
                <div class="left ">管理费</div>
                <div class="right">3000.00元</div>
            </div>
            <div class="clearfix color_a1a1a1" style="margin-top: 10px;">
                <div class="left ">分期费</div>
                <div class="right">3000.00元</div>
            </div>
            <div class="clearfix color_a1a1a1" style="margin-top: 10px;">
                <div class="left ">各种费</div>
                <div class="right">3000.00元</div>
            </div>
            <div class="clearfix color_a1a1a1" style="margin-top: 10px;">
                <div class="left ">本金</div>
                <div class="right">3000.00元</div>
            </div>
        </div>
    </div>

    <div>
        <div class="clearfix" style="border-bottom: 1px solid #ededed; padding: 10px 0">
            <div class="left font_color">逾期日期</div>
            <div class="right" >2017/6/12</div>
        </div>
    </div>
    <div>
        <div class="clearfix" style="border-bottom: 1px solid #ededed; padding: 10px 0">
            <div class="left font_color">逾期天数</div>
            <div class="right" >1天</div>
        </div>
    </div>
    <div>
        <div class="clearfix" style="border-bottom: 1px solid #ededed; padding: 10px 0">
            <div class="left font_color">逾期罚息</div>
            <div class="right" >2‰</div>
        </div>
    </div>
    <div>
        <div class="clearfix" style="border-bottom: 1px solid #ededed; padding: 10px 0">
            <div class="left font_color">逾期金额</div>
            <div class="right" >200元</div>
        </div>
    </div>
    <div class="weui_btn_area">
        <a style="margin-top:20px;" class="weui_btn weui_btn_primary" href="javascript:" ng-click="submitBtn()">立刻还款</a>
    </div>
</div>

<style scoped>
    .color_a1a1a1{
        color: #a1a1a1;
    }
</style>