<script>
    "use strict";
    app.controller("baddebtListController",
        [
            "$rootScope",
            "$scope",
            "$http",
            "$stateParams",
            "entity",
            "$state",
            function ($rootScope, $scope, $http, $stateParams, entity, $state) {
                $scope.states = [];

                /*搜索值的对象*/
                $scope.searchForms = {};
                $scope.forms = {};

                /*
                *department  部门
                * */
                $scope.department    = null;
                $scope.departmentVal = null;


                /*初始值*/
                $scope.forms.state_id = $scope.state_id;
                $scope.forms.size     = "10";
                $scope.forms.sort     = "lastModifiedAt,desc";


                entity.getList("getEntityInfo").then(function (response) {

                    $rootScope.allEntitiesInfo = response;

                    $scope.repaymentMethodCode = $rootScope.allEntitiesInfo.capitalproduct.repaymentMethodCode.values;

                });


                /*拿所有门店*/
                /*       $scope.departmentCredior = function () {
                           entity.getList("rest/departmenttypes?size=10000").then(function (departmentResResult) {
                               angular.forEach(departmentResResult._embeddedItems, function (val, key) {
                                   if (val.departmenttypeCode === "STORE") {
                                       //获取所有部门
                                       entity.getList(val._links.departments.href).then(function (departmentResResult) {
                                           $scope.department = departmentResResult._embeddedItems;

       //                                    $scope.departmentVal = $scope.department[0];

                                       });
                                   }
                               })
                           });
                       };
                       $scope.departmentCredior();
       */

                entity.getList("/rest/baddebtWorkflows/ " + $stateParams.workflow_id + "/states").then(function (resResult) {
                    $scope.states = resResult._embeddedItems;
                    if ($scope.states.length > 0) {

                        $scope.states = $scope.states.sort(function (a, b) {
                            return a.sort - b.sort;
                        });
                        if (window.sessionStorage.getItem(window.myinfo.id + "baddebt_state_code")) {
                            angular.forEach($scope.states, function (val, key) {
                                if (val.id == window.sessionStorage.getItem(window.myinfo.id + "baddebt_state_code")) {
                                    $scope.stateVal       = $scope.states[key];
                                    $scope.forms.state_id = val.id;
                                    $scope.state_id       = val.id;
                                    $scope.getList(0);
                                }
                            })
                        } else {
                            $scope.forms.state_id = null;
                            $scope.getList(0);
                        }
//                        $scope.getList(0);
                    }
                });

                $scope.pageList = {
                    size: 0,
                    total_elements: 0,
                    current_page: 0,
                    num_page: 1,
                    total_page: 1
                };

                $scope.list = [];

                $scope.getList = function (page) {

                    $scope.loading = true;

                    $scope.list = [];

                    $scope.forms.page = page;

                    $http.get("/baddebt/search", {
                        params: $scope.forms
                    }).success(function (resResult) {

                        $scope.loading = false;

                        $scope.list = entity.getListActs(resResult.entitys);


                        if ($scope.list.length > 0) {
                            $scope.pageList = {
                                size: resResult.size,
                                total_elements: resResult.totalElements,
                                current_page: resResult.number,
                                num_page: resResult.totalPages,
                                total_page: resResult.totalPages
                            };
                        } else {
                            $scope.pageList = {
                                size: 0,
                                total_elements: 0,
                                current_page: 0,
                                num_page: 1,
                                total_page: 1
                            };
                        }

                        $rootScope.setPaginator("#baddebt_list_paginator", $scope.pageList, $scope.getList);
                    });
                };


                $scope.stateChange = function (val) {
                    $scope.forms = {};
                    $scope.forms.size     = "10";
                    $scope.forms.sort     = "lastModifiedAt,desc";
                    if(val){

                        window.sessionStorage.setItem(window.myinfo.id + "baddebt_state_code", val.id);
                        $scope.state_id = val.id;

                        $scope.forms.state_id = val.id;
//                        $scope.getList(0);
//                         $scope.searchSubmit();
                    }else {

                        window.sessionStorage.setItem(window.myinfo.id + "baddebt_state_code", "");
                        $scope.state_id = null;
                        $scope.forms.state_id = null;
//                        $scope.getList(0);
//                         $scope.searchSubmit();
//                         console.log($scope.forms);
                    }
                };


                $scope.searchSubmit = function () {


                    /*所属门店*/
//                    $scope.searchForms.department_label = $scope.departmentVal ? $scope.departmentVal.label : null;

                    /*合并对象*/
                    $scope.forms = Object.assign($scope.searchForms,$scope.forms);

                    $scope.getList(0)

                };


                //清除搜索
                $scope.clearSearch = function () {
                    $scope.forms = {};
                    $scope.searchForms = {};

                    if($scope.state_id){
                        $scope.forms.state_id = $scope.state_id;
                    }else {
                        $scope.forms.state_id = null;
                    }

                    $scope.forms.size     = "10";
                    $scope.forms.sort     = "lastModifiedAt,desc";

                    $scope.departmentVal          = null;
                    $scope.repaymentMethodCodeVal = null;
                    $scope.getList(0);
                };
            }
        ]
    );
</script>
<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light" ng-controller="baddebtListController">
    <!-- column -->
    <div class="col w-md lter b-l">
        <div class="vbox">
            <div class="wrapper b-b clearfix">
                <form class="form-inline">
                    <div class="clearfix">
                        <div class="form-group m-r">
                            <label style="width:70px;text-align:right;">状态：</label>
                            <select ng-model="stateVal"
                                    class="form-control input-sm" style="width:150px;"
                                    ng-options="y.label for (x,y) in states"
                                    ng-change="stateChange(stateVal)">
                                <option value="">全部</option>
                            </select>
                        </div>
                    </div>
                    <div class="m-t">
                        <div class="form-group m-r">
                            <label for="baddebt_realName">客户名称：</label>
                            <input type="text" class="form-control input-sm" style="width:150px;" id="baddebt_realName"
                                   ng-model="searchForms.debtorName">
                        </div>
                        <div class="form-group m-r">
                            <label for="baddebt_mobile">联系号码：</label>
                            <input type="text" class="form-control input-sm" style="width:150px;" id="baddebt_mobile"
                                   ng-model="searchForms.debtorMobile">
                        </div>
                        <!--<div class="form-group m-r">-->
                            <!--<label for="baddebt_searchCddSn" style="width:70px;text-align:right;">订单号：</label>-->
                            <!--<input type="text" class="form-control input-sm" style="width:150px;" id="baddebt_searchCddSn"-->
                                   <!--ng-model="searchForms.cddSn">-->
                        <!--</div>-->
                        <!--<div class="form-group m-r">-->
                            <!--<label for="baddebt_searchbaddebtSn">申请单号：</label>-->
                            <!--<input type="text" class="form-control input-sm" style="width:150px;" id="baddebt_searchbaddebtSn"-->
                                   <!--ng-model="searchForms.loanSn">-->
                        <!--</div>-->
                        <!--<div class="form-group m-r">-->
                            <!--<label for="baddebt_department_label">服务门店：</label>-->
                            <!--<input type="text" class="form-control input-sm" style="width:150px;" id="baddebt_department_label"-->
                                   <!--ng-model="searchForms.department_label">-->
                        <!--</div>-->
                    </div>
                    <div class="m-t">
                        <button class="btn btn-sm btn-primary m-r" ng-click="searchSubmit()">
                            <i class="fa fa-search"></i>
                            查询
                        </button>
                        <button class="btn btn-sm btn-default m-r" ng-click="clearSearch()">
                            <i class="fa fa-refresh"></i>
                            清空
                        </button>
                    </div>
                </form>
            </div>
            <!--<div class="wrapper b-b clearfix">-->
            <!--<div class="inline pull-left">-->
            <!--<span translate="baddebt.self.label"></span>状态：-->
            <!--</div>-->
            <!--<div class="inline pull-left m-r" ng-repeat="state in states">-->
            <!--<label class="i-checks i-checks-sm pull-left m-n" ng-click="stateSelect($event,state.stateCode)">-->
            <!--<input type="radio" value="{{state.stateCode}}" ng-model="state_code" name="state"><i></i> {{-->
            <!--state.label }}-->
            <!--</label>-->
            <!--</div>-->
            <!--</div>-->
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <div class="wrapper">
                            <div class="panel panel-default">
                                <div class="panel-heading" ng-if="!loading && list.length > 0">
                                    查询结果
                                </div>
                                <div ng-if="loading"
                                     style="position: fixed;top: 50%;right: 50%;margin-left: -15px;margin-top: -15px;">
                                    <div class="sk-spinner sk-spinner-cube-grid">
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                        <div class="sk-cube"></div>
                                    </div>
                                    <div class="text-center m-t">加载中请稍后</div>
                                </div>
                                <div class="panel-heading" ng-if="!loading && list.length < 1">
                                    暂无数据！
                                </div>
                                <div ng-if="!loading && list.length > 0">
                                    <table class="table table-hover b-t b-light" style="border-bottom: none;">
                                        <thead>
                                        <tr>
                                            <th>操作</th>
                                            <th>借款单号</th>
                                            <th>客户名称</th>
                                            <th>联系方式</th>
                                            <th>服务门店</th>
                                            <th>剩余应还金额(元)</th>
                                            <th>结清时间</th>
                                            <th>状态</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in list">
                                            <td class="v-middle clearfix" >
                                                <button ui-sref="workflowEntity.home.profile.info({id:item.id})"
                                                        class="pull-left btn btn-xs btn-info m-r">详情
                                                </button>
                                                <!--<div class="btn-group">-->
                                                    <!--<button type="button" class="btn btn-info btn-xs dropdown-toggle"-->
                                                            <!--data-toggle="dropdown">-->
                                                        <!--操作 <span class="caret"></span>-->
                                                    <!--</button>-->
                                                    <!--<ul class="dropdown-menu">-->
                                                        <!--<li><a ui-sref="workflowEntity.home.profile.info({id:item.id})">详情</a>-->
                                                        <!--</li>-->
                                                        <!--<li ng-repeat="act in item.listActs track by $index"-->
                                                            <!--ng-click="baddebtExcute[act.actCode](item)">-->
                                                            <!--<a>{{act.label}}</a>-->
                                                        <!--</li>-->
                                                    <!--</ul>-->
                                                <!--</div>-->
                                            </td>
                                            <td class="v-middle list-hover-a">
                                                <a ui-sref="workflowEntity.home.profile.info({id:item.loanId,entity_key:'loan'})">
                                                    {{ item.loanSn }}
                                                </a>
                                            </td>
                                            <!--<td class="v-middle">-->
                                                <!--{{ item.baddebtSn }}-->
                                            <!--</td>-->
                                            <td class="v-middle">
                                                <!--<a ui-sref="workflowEntity.home.profile.info({id:item.person_id,entity_key:'person'})">-->
                                                    {{ item.debtorName }}
                                                <!--</a>-->
                                            </td>
                                            <td class="v-middle" >
                                                {{ item.debtorMobile }}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.department_label }}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.debtorLeftAmount ? item.debtorLeftAmount:"暂无" }}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.finishAt ? (item.finishAt | datetime) :"暂无" }}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.state_label }}

                                            <div class="modal fade" id="{{ item.id }}_finish">
                                                <div class="modal-xs modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span>×</span>
                                                        </button>
                                                        <h4 class="modal-title">坏账结清</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form name="step1" class="form-horizontal form-validation">
                                                            <div class="form-group clearfix">
                                                                <label class="col-lg-4 control-label text-right margin-top">剩余还款金额</label>
                                                                <div class="col-lg-6">
                                                                    <label style="font-size: 24px;">
                                                                        {{ item.debtorLeftAmount ? item.debtorLeftAmount : "0"}} 元
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group clearfix">
                                                                <label class="col-lg-4 control-label text-right margin-top">车辆拍卖金额</label>
                                                                <div class="col-lg-6">
                                                                    <div class="input-group">
                                                                        <input type="text"
                                                                               name="vehicle_actual_amount"
                                                                               class="form-control"
                                                                               ng-model="vehicleActualAmount"
                                                                               required
                                                                               pattern="^\d+(?:.\d{1,2})?$">
                                                                        <span class="input-group-addon">元</span>
                                                                    </div>
                                                                    <span class="help-block text-danger"
                                                                          ng-show="step1.vehicle_actual_amount.$invalid">
                                                                              <i class="fa fa-exclamation-circle text-danger"></i>&ensp;车辆拍卖金额为数字(最多两位小数)，且必填
                                                                        </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group clearfix">
                                                                <label class="col-lg-4 control-label text-right margin-top">还给门店的金额</label>
                                                                <div class="col-lg-6">
                                                                    <div class="input-group">
                                                                        <input type="text"
                                                                               name="store_amount"
                                                                               class="form-control"
                                                                               ng-model="storeAmount"
                                                                               required
                                                                               pattern="^\d+(?:.\d{1,2})?$">
                                                                        <span class="input-group-addon">元</span>
                                                                    </div>
                                                                    <span class="help-block text-danger"
                                                                          ng-show="step1.store_amount.$invalid">
                                                                              <i class="fa fa-exclamation-circle text-danger"></i>&ensp;还给门店的金额为数字(最多两位小数)，且必填
                                                                        </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group clearfix">
                                                                <label class="col-lg-4 control-label text-right margin-top">贷后处理费用</label>
                                                                <div class="col-lg-6">
                                                                    <div class="input-group">
                                                                        <input type="text"
                                                                               name="vehicle_expense"
                                                                               class="form-control"
                                                                               ng-model="vehicleExpense"
                                                                               required
                                                                               pattern="^\d+(?:.\d{1,2})?$">
                                                                        <span class="input-group-addon">元</span>
                                                                    </div>
                                                                    <span class="help-block text-danger"
                                                                          ng-show="step1.vehicle_expense.$invalid">
                                                                              <i class="fa fa-exclamation-circle text-danger"></i>&ensp;贷后处理费用为数字(最多两位小数)，且必填
                                                                        </span>
                                                                </div>
                                                            </div>

                                                        </form>
                                                    </div>
                                                    <div class="modal-footer text-center">
                                                        <button type="button" class="btn btn-success w-lg" ng-disabled="step1.$invalid"
                                                                ng-click="baddebtExcute.finishSave(vehicleActualAmount,storeAmount,vehicleExpense,item)">
                                                            提交
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>

                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper b-t b-light clearfix">
                <ul id="baddebt_list_paginator" style="margin:2px 0;float: right;"></ul>
                <small class="m-l-md pull-right text-muted inline m-t-sm m-b-sm m-r">共 {{ pageList.total_elements }} 条，本页共 {{ list.length }} 条
                </small>
            </div>


        </div>
    </div>
    <!-- /column -->
</div>
<!-- /hbox layout -->